@font-face {
    font-family: 'myFont';
    src: url('fonts/ufonts.com_gabriola.eot?') format('eot'), url('fonts/ufonts.com_gabriola.woff') format('woff');
}

body{
    font-family: myFont, sans-serif;
    font-size:16px;
    background: rgba(255,255,255,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(246,246,246,1) 73%, rgba(237,237,237,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(45%, rgba(255,255,255,1)), color-stop(73%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(246,246,246,1) 73%, rgba(237,237,237,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(246,246,246,1) 73%, rgba(237,237,237,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(246,246,246,1) 73%, rgba(237,237,237,1) 100%);
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 45%, rgba(246,246,246,1) 73%, rgba(237,237,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=1 );
}
h1{font-size:2.8em;text-shadow: 2px 2px 5px rgba(150, 150, 150, 0.5);}
h2{font-size:2em;    font-size: 2em;
    position: absolute;
    top: 65%;
    cursor: pointer;
    right: 30%;}

header{padding:40px 100px;}
main{padding:0 100px;}
#arrow-left{
    background-image: url('images/arrow-nav.png');
    background-repeat: no-repeat;
    width:86px;
    height:40px;
    position:absolute;
    top:40%;left:100px;
    opacity:0.3;
    cursor:pointer;
}
#arrow-right{
    background-image: url('images/arrow-nav.png');
    background-repeat: no-repeat;
    width:86px;
    height:40px;
    position:absolute;
    top:40%;right:100px;
    opacity:0.3;
    cursor:pointer;
    transform: scaleX(-1);
}
#arrow-left:hover, #arrow-right:hover{opacity: 1;}