<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="ISO-8859-1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vente équitable.net</title>
    <link rel="stylesheet" media="all" href="/assets/css/bundle.css"/>
    <link rel="stylesheet" href="../scss/buttons.scss">
</head>
<body>
    <header>
        <h1>Vente équitable.net</h1>
        <nav>
            <ul>
                <li class="btn caddie"><label></label></li>
            </ul>
            <ul class="nav">
                <li class="btn nav"><label>Les produits</label></li>
                <li class="btn nav"><label>Le projet</label></li>
                <li class="btn nav"><label>Mon profil</label></li>
                <li class="btn nav"><label>Contact</label></li>
            </ul>
        </nav>
    </header>

    <main class="slider">
        <div class="slide left">
            <figure></figure>
            <summary>
                <div>
                    <h2>This product is awesome</h2>
                    <p>Short description  explaining what this product is able to do because this is seriously sooo very nice.</p>
                    <strong class="price">99.99&#8364;</strong>

                    <span class="btn big more-details">
                        <label>En savoir plus</label>
                    </span>
                </div>
            </summary>

        </div>
    </main>
    <div class="nav-arrow left"></div>
    <div class="nav-arrow right"></div>
    <footer>

    </footer>
</body>
</html>